body {
  font-family: Arial, sans-serif;
  background-color: #2f353a;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimalna wysokość strony */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Upewniamy się, że header będzie zawsze na wierzchu */
  color: white;
  background-color: #3a4149; /* Jasny kolor tła */
  border-bottom: 1px solid #23282c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white; /* Kolor linków */
}

main {
  padding-top: 70px; /* Ustawiamy odpowiednią wartość dla padding-top, aby treść nie ukrywała się pod headerem */
  padding-bottom: 80px; /* Ustawiamy odpowiednią wartość dla padding-bottom, aby treść nie ukrywała się pod footerem */
}

/* Dodajemy suwak przewijania dla sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 180px;
  position: fixed;
  height: 83%;
  color: white;
  background-color: #3a4149; /* Kolor tła bocznego paska */
  overflow-y: auto; /* Dodaje suwak pionowy, jeśli zawartość jest większa niż wysokość sidebar */
  scrollbar-width: thin; /* Grubość suwaka */
}

/* Stylizujemy suwak przewijania */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Szerokość suwaka */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888; /* Kolor suwaka */
  border-radius: 4px; /* Zakrzywienie krawędzi suwaka */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Kolor tła suwaka */
}

.sidebar h5 {
padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  padding-left: 30px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #343b41;
  color: white;
}

.sidebar a:hover {
  background-color: #802530;
  color: white;
}

.content {
  background-color: #2f353a;
  padding: 20px;
  flex: 1; /* Użyj dostępnego miejsca, aby zawartość wypełniała dostępną przestrzeń */
}

.embed-builder {
  border: 1px solid #23282c;
  padding: 20px;
  margin-top: 50px; /* Odległość od góry */
  text-align: center; /* Wyśrodkowanie zawartości */
  width: 50%; /* Szerokość kontenera embed-builder */
  margin: 50px auto; /* Wyśrodkowanie kontenera */
  background-color: #3a4149;
  color: white;
}

.form {
  text-align: left; /* Wyśrodkowanie tekstu wewnątrz formularza */
}

.form input {
  height: 30px;
}

.form textarea {
  min-width: 50%; /* Maksymalna szerokość textarea */
  max-width: 50%; /* Maksymalna szerokość textarea */
  width: 50%; /* Wypełnienie dostępnej przestrzeni */
  min-height: 80px;
  max-height: 270px;
}

.form input,
.form textarea {
  border: 1px solid #23282c;
  background-color: #515b65;
}

.form button {
  display: block;
  margin: 0 auto; /* Wyśrodkowanie przycisku */
  margin-bottom: 10px;
  width: 20%; /* Szerokość przycisku */
  height: 40px;
  box-sizing: border-box; /* Zapobieganie zwiększaniu szerokości przez padding */
}

.form label,
.form input,
.form textarea {
  display: block;
  margin: 0 auto; /* Wyśrodkowanie przycisku */
  margin-bottom: 10px;
  width: 50%; /* Szerokość elementów formularza */
  box-sizing: border-box; /* Zapobieganie zwiększaniu szerokości przez padding */
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Upewniamy się, że footer będzie zawsze na wierzchu */
  color: white; /* Ciemny kolor tła */
  background-color: #3a4149; /* Kolor tekstu */
  text-align: center;
  padding: 20px;
  border-top: 1px solid #23282c;
}
